<ul>
<% @lines.each do |line| %>
  <li>
    <div class="bubble"><%= line.text %></div>
    <div class="actions"><%= link_to 'Edit', line %></div>
  </li>
<% end %>
</ul>

<%= render 'form' %>

<%= link_to 'All', lines_path %>