@import url('https://fonts.googleapis.com/css?family=Barlow');

body {
  max-width: 600px;
  margin: 0 auto;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  line-height: 21px;
}

ul {
  list-style: none;
  padding: 0;
}
