li {
  display: flex;
  margin-bottom: 8px;
}

div.bubble {
  flex-basis: 80%;
  background-color: #eee;
  padding: 8px 14px;
  
  li:nth-child(even) & {
    color: white;
    background-color: #08e;
  }
}

div.actions {
  flex-basis: 20%;
  padding: 8px 14px;
}